@import '../../variables';

.contacts {
  margin-left: 0.3rem;
  min-width: 30ch;

  &.is-printable {
    a {
      text-decoration: none;
    }
  }

  dl {
    margin-top: 1rem;

    dt {
      clear: left;
      float: left;
      font-size: 1.1rem;
      margin: 0 0.5rem 0 1.25rem;
      text-align: right;
      width: 1rem;
    }

    dd {
      float: left;
      margin-bottom: 0;

      a {
        color: $text-white;
        text-decoration: underline;
      }
    }
  }
}
