@import '../../variables';

.contacts {
  min-width: 225px;
  width: 100%;

  dl {
    margin-top: 25px;

    dt {
      clear: left;
      float: left;
      font-size: 105%;
      margin: 0 10px 0 20px;
      text-align: right;
      width: 15px;
    }

    dd {
      float: left;
      margin-bottom: 3px;

      a {
        color: $text-white;
        text-decoration: underline;
      }
    }
  }
}
