.contacts {
  margin-left: 0.3rem;
  min-width: 30ch;
  position: relative;

  &.is-printable {
    a {
      text-decoration: none;
    }
  }

  .copy-contacts {
    position: absolute;
    right: 0.5rem;
    top: 0;

    a {
      border-bottom: 1px dashed;
      color: #425370;
      cursor: pointer;
      font-size: 0.75rem;
    }
  }

  dl {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.125rem 0.25rem;
    align-items: start;

    dt {
      font-size: 1.1rem;
      margin: 0 0.5rem 0 1.25rem;
      text-align: right;
    }

    dd {
      margin-bottom: 0;

      a {
        color: var(--text-white);
        text-decoration: underline;
      }
    }
  }
}
