@use "../../mixins" as mixins;
@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700";
@import "https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700";
@import "https://fonts.googleapis.com/css?family=Titillium+Web:100,300,400,500,700";
@import "https://fonts.googleapis.com/css?family=Exo+2:100,300,400,500,700";

.wrapper {
  @include mixins.flex-row(center);

  font-family: "Titillium Web", Roboto, sans-serif;

  .container {
    @include mixins.flex-column(flex-start, stretch);

    max-width: 1000px;

    > div:first-child {
      @include mixins.flex-row(flex-start, center);

      background-color: var(--bg-blue);
      color: var(--text-white);
      flex: 1.5;
      padding: 0 20px;

      .name-title {
        padding: 0 20px;

        h1 {
          font-family: "Roboto Condensed", sans-serif;
          font-size: 2.25rem;
          font-weight: lighter;
          text-align: center;
        }

        h2 {
          font-family: Roboto, sans-serif;
          font-size: 1.2rem;
          font-style: italic;
          font-weight: lighter;
          text-align: center;
        }
      }

      header {
        @include mixins.flex-row(flex-start, flex-start);

        align-self: stretch;
        margin: 1.4em 20px 0 1em;
        position: relative;

        h2 {
          background: var(--bg-blue);
          display: inline-block;
          font-family: "Roboto Condensed", sans-serif;
          font-size: 2em;
          font-weight: bold;
          padding: 0 0.5em 0 0;
          z-index: 2;
        }

        &::after {
          border-bottom: 1px solid var(--delimiter-gray);
          content: "";
          display: block;
          left: 0;
          position: absolute;
          right: 0;
          top: 1.2em;
          width: 100%;
          z-index: 0;
        }
      }
    }

    > .contacts-container {
      background: rgb(141 148 175 / 27%);
      color: #333;
      padding-bottom: 1rem;
      margin-bottom: 0.5rem;

      a {
        color: #333;
      }
    }

    .switch-printable {
      text-align: right;

      a {
        border-bottom: 1px dashed;
        color: #425370;
        cursor: pointer;
        font-size: 0.75rem;
      }
    }

    > div:last-child {
      flex: 3.5;
      padding: 5px 5px 5px 15px;

      hr {
        background-color: var(--delimiter-gray);
      }

      header {
        @include mixins.flex-row(flex-start, center);

        position: relative;
        width: 100%;

        h2 {
          background: var(--bg-white);
          color: var(--text-darkgray);
          display: inline-block;
          font-family: "Roboto Condensed", sans-serif;
          font-size: 1.6em;
          font-weight: bold;
          padding: 0 0.5em 0 0;
          z-index: 2;
        }

        &::after {
          border-bottom: 1px solid var(--delimiter-gray);
          content: "";
          display: block;
          left: 0;
          position: absolute;
          right: 0;
          top: 0.9em;
          width: 100%;
          z-index: 0;
        }
      }
    }
  }
}
