@import '../../mixins';
@import '../../variables';

.skills {
  width: 100%;

  .skill {
    margin-bottom: 25px;
    width: 100%;

    .skill-title {
      font-size: 1.2em;
      height: 20px;
      margin: 0 0 .5em 1em;
      padding-right: 1em;
      width: 100px;
    }

    .skill-description {
      margin: 0 0 3px 1em;
      padding-right: 1em;
    }

    .skill-rating {
      @include flex-row(center);
      height: 15px;
      list-style: none;
      margin: 0;
      padding: 3px 20px 10px 1em;
      width: 100%;

      li {
        background-color: $text-white;
        display: block;
        height: 15px;
        margin-right: 3px;
        opacity: 0.1;
        transform: skewX(-30deg);
        width: 8%;
      }

      li.filled {
        opacity: 0.8;
      }
    }
  }
}
