@import '../variables';

.photo-wrapper {
  border: 1px solid $text-white;
  border-radius: 100%;
  height: 150px;
  margin: 20px 0;
  padding: 4px;
  width: 150px;

  .photo {
    background: #18418b center;
    background-size: cover;
    border-radius: 100%;
    height: 100%;
    width: 100%;
  }
}
