.photo-wrapper {
  border: 1px solid #aaa;
  border-radius: 20px;
  height: 10rem;
  margin: 20px 0;
  padding: 4px;
  width: 10rem;

  .photo {
    background: #18418b center;
    background-size: contain;
    border-radius: 30px;
    height: 100%;
    width: 100%;
  }
}
