@import '../variables';

.contacts {
  width: 100%;

  dl {
    margin-top: 25px;

    dt {
      clear: left;
      float: left;
      font-size: 105%;
      margin-right: 10px;
      text-align: right;
      width: 50px;
    }

    dd {
      float: left;
      margin-bottom: 3px;

      a {
        color: $white;
        text-decoration: underline;
      }
    }
  }
}
