.name-title {
  h1 {
    font-size: 225%;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
  }
  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 150%;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
  }
}
