@import "../mixins";
@import "../variables";

.positions {
  .position {
    @include flex-row(stretch, flex-start);
    margin-bottom: 15px;

    .period {
      flex: 0.5;
      color: $text-gray;
      font-size: 1.5em;
      line-height: .9em;
      font-style: normal;
      font-weight: lighter;
      padding: 0 15px 0 0;
      margin-top: 5px;
    }
    .description {
      flex: 3.5;

      h3 {
        font-size: 1.3em;
        margin-bottom: 0;
        color: $text-darkgray;
      }
      h4 {
        font-weight: normal;
        font-size: 1.1em;
        color: $text-darkblue;
      }
      article {

      }
    }
  }
}
