@import './variables';

body {
  background-color: $bg-white;
  font-size: 16px;
  padding: 0;
  min-width: 750px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}
