body {
  font-size: 14px;
  padding: 5px;
}

.clue {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}

.text-hidden {
  visibility: hidden;
}

.text-revealed {
  animation-duration: 1s;
  animation-name: fade-in;
  visibility: visible;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}
